.form {
    width: 60vw;
    height: 35vh;
    border: 3px solid black;
    background-color: #66a666;
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

.sex {
    flex-direction: row;
}
.box {
    flex-direction: row;
}
h1 {
    display: flex;
    justify-content: center;
}

.buttons {
  flex-direction: row;
}

input[type=submit], input[type=button] {
    width: 120px;
}