@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Indie+Flower&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
.main {
    display: flex;
    justify-content: space-around;
}

.div {
    width: 200px;
    height: 200px;
    background-color: #d9af98;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rubik {
    font-family: 'Rubik Pixels', cursive;
}

.Sedgwick{
    font-family: 'Sedgwick Ave Display', cursive;
}

.Dancing{
    font-family: 'Dancing Script', cursive;
}

.Fjalla{
    font-family: 'Fjalla One', sans-serif;
}

.Indie{
    font-family: 'Indie Flower', cursive;
}